*{
    background-color: rgb(7, 6, 6);
}

.bulb_main1{
    /* background-color: brown; */
    margin: 0px auto;
    display: flex;
    margin-top: 23px;
    flex-wrap: wrap;


}

.bulb_main2{
    width: 99px;
    /* background-color: green; */
    margin: 0px auto;

}